.load-more-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

.product{
    padding: 20px;
    border: 1px solid rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.product img{
    width: 200px;
    height: 200px;
}

.btn-container{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container button{
    cursor: pointer;
}

.btn-container button:disabled{
    cursor: not-allowed;
}

.btn-container p{
    color: brown;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width:768px){

    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .product{
        gap: 5px;
    }

}